# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Ruff & Black
.ruff_cache/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# Mypy
.mypy_cache/

# PyCharm
*.iml